* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #001d30;
  animation: changeBg 5s linear infinite;
}

@keyframes changeBg {
  to {
    filter: hue-rotate(360deg);
  }
}
.spinner {
  position: absolute;
  width: 150px;
  height: 150px;
  background: linear-gradient(to top, #001d30 40%, #51eeee);
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.spinner::before {
  content: "";
  position: absolute;
  background: #001d30;
  inset: 20px 20px 0 0;
  border-radius: 50%;
}
.spinner::after {
  content: "";
  position: absolute;
  top: 50px;
  right: -8px;
  width: 40px;
  height: 40px;
  background: #51eeee;
  border-radius: 50%;
  box-shadow: 0 0 5px #001d30,0 0 25px #001d30,0 0 50px #001d30,0 0 75px #001d30,;
}
